
div.frmContainer
{
height:65%;
padding-left:13%;
}

input
{float:right;}

label{float:left;}

div.ContactUs
{
padding:1em;
float:left;
background-color:#6699ff;
height:90%;
margin-left:0.9em;
}

li.label
{
color:#99ccff;
font-size:22px;
}

ul
{
color:black;
font-size:20px;
}

h2
{
color:#99ccff;
}
div.left-side
{
float:left;
text-align:center;
padding-right:4em;
}
div.right-side
{
float:left;
text-align:center;
}


