div.Cal_Container
{
margin-bottom:5em;
padding:1em;
height:500px;
}

div.calculate
{
background-color:white;
padding:1em;
width:35%;
max-width:36.2%;
float:left;
height:500px;
}

div.side
{
background-image:url("../imgs/Find-a-Personal-Trainer-Feature-Block.jpg");
float:left;
width:30%;
min-width:25%;
opacity:0.5;
height:500px;
padding:0.2em;
text-align:justify;
color:white;

}

#controls
{
margin-left:25px;
float:left;
}

#labels
{
width:170px;
float:left;
}


textarea
{margin:0.5em 1em 0.5em 4em;}